
img {
  width: 654px;
  height:368px;
}

img:hover {
  -webkit-box-shadow: 0px 0px 15px 5px #A0A0A0;
  box-shadow: 0px 0px 15px 2px #A0A0A0;
  transition: all 0.4s ease;
}

.work-card-content-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: baseline;
}

.work-card-content-container > p {
  margin: 2px;
}

.tag {
  border:none;
  font-weight: 700;
  padding: 5px 8px 5px 8px;
  background-color: #a0dbe2;
  border-radius: 10px;
  margin-right: 5px;
}

hr {
  border: 1px solid gray;
  width: 100%
}

.blurb {
  color: gray;
}

.work-info {
  margin: 0 5px 0 5px;

}

h4 {
  margin-bottom: 10px;
}

.tag-container {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}

p {
  word-break: normal;
  max-width: 400px;
}
